fastapi
uvicorn[standard]
sqlmodel
alembic
pydantic-settings
python-multipart
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
PyJWT
cryptography
requests
mailjet-rest
jinja2
asyncpg
aiosqlite
slowapi
email-validator
httpx
google-genai
groq
